In [331]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
test_csv= '/content/drive/My Drive/ml_loanda/test.csv'
train_csv='/content/drive/My Drive/ml_loanda/train.csv'
train_data =pd.read_csv(train_csv)
test_data=pd.read_csv(test_csv)
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Pre-process

##check null/fill data

Training data :

In [332]:
X_id=test_data['Loan_ID']
train_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [333]:
train_data['Gender'] = train_data['Gender'].fillna('Male')
train_data['Married'] = train_data['Married'].fillna('Yes')
train_data['Dependents'] = train_data['Dependents'].fillna(train_data['Dependents'].mode()[0])
train_data['Self_Employed'] = train_data['Self_Employed'].fillna('No')
train_data['LoanAmount'] = train_data['LoanAmount'].fillna(train_data['LoanAmount'].mean())
train_data['Loan_Amount_Term'] = train_data['Loan_Amount_Term'].fillna(train_data['Loan_Amount_Term'].mode()[0])
train_data['Credit_History'] = train_data['Credit_History'].fillna(train_data['Credit_History'].mode()[0])

In [334]:
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.00,146.41,360.00,1.00,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.00,128.00,360.00,1.00,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.00,66.00,360.00,1.00,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.00,120.00,360.00,1.00,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.00,141.00,360.00,1.00,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.00,71.00,360.00,1.00,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.00,40.00,180.00,1.00,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.00,253.00,360.00,1.00,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.00,187.00,360.00,1.00,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.00,133.00,360.00,0.00,Semiurban,N

In [335]:
#adjusting datatypes and data
train_data['Loan_Amount_Term'] = train_data['Loan_Amount_Term'].astype('int64')
train_data['Dependents'] = train_data['Dependents'].str.rstrip('+')
train_data['Dependents'] = train_data['Dependents'].astype('int64')

In [336]:
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.00,146.41,360,1.00,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.00,128.00,360,1.00,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.00,66.00,360,1.00,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.00,120.00,360,1.00,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.00,141.00,360,1.00,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.00,71.00,360,1.00,Rural,Y
610,LP002979,Male,Yes,3,Graduate,No,4106,0.00,40.00,180,1.00,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.00,253.00,360,1.00,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.00,187.00,360,1.00,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.00,133.00,360,0.00,Semiurban,N

Testing data :

In [337]:
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [338]:

test_data['Gender'] = test_data['Gender'].fillna('Male')
test_data['Dependents'] = test_data['Dependents'].fillna(test_data['Dependents'].mode()[0])
test_data['Self_Employed'] = test_data['Self_Employed'].fillna('No')
test_data['LoanAmount'] = test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean())
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].mode()[0])
test_data['Credit_History'] = test_data['Credit_History'].fillna(test_data['Credit_History'].mode()[0])

In [339]:
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.00,360.00,1.00,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.00,360.00,1.00,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.00,360.00,1.00,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.00,360.00,1.00,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.00,360.00,1.00,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.00,360.00,1.00,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.00,360.00,1.00,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.00,360.00,1.00,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.00,360.00,1.00,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.00,180.00,1.00,Rural

In [340]:
#adjusting datatypes and data
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].astype('int64')
test_data['Dependents'] = test_data['Dependents'].str.rstrip('+')
test_data['Dependents'] = test_data['Dependents'].astype('int64')

In [341]:
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.00,360,1.00,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.00,360,1.00,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.00,360,1.00,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.00,360,1.00,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.00,360,1.00,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3,Not Graduate,Yes,4009,1777,113.00,360,1.00,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.00,360,1.00,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.00,360,1.00,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.00,360,1.00,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.00,180,1.00,Rural

In [342]:
train_data['Gender'] = train_data['Gender'].map({'Male': 1, 'Female': 0})
train_data['Married'] = train_data['Married'].map({'Yes': 1,'No' : 0})
train_data['Education'] = train_data['Education'].map({'Graduate' : 1, 'Not Graduate' : 0})
train_data['Self_Employed'] = train_data['Self_Employed'].map({'Yes' : 1,'No' :0})
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,1,0,5849,0.00,146.41,360,1.00,Urban,Y
1,LP001003,1,1,1,1,0,4583,1508.00,128.00,360,1.00,Rural,N
2,LP001005,1,1,0,1,1,3000,0.00,66.00,360,1.00,Urban,Y
3,LP001006,1,1,0,0,0,2583,2358.00,120.00,360,1.00,Urban,Y
4,LP001008,1,0,0,1,0,6000,0.00,141.00,360,1.00,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,1,0,2900,0.00,71.00,360,1.00,Rural,Y
610,LP002979,1,1,3,1,0,4106,0.00,40.00,180,1.00,Rural,Y
611,LP002983,1,1,1,1,0,8072,240.00,253.00,360,1.00,Urban,Y
612,LP002984,1,1,2,1,0,7583,0.00,187.00,360,1.00,Urban,Y
613,LP002990,0,0,0,1,1,4583,0.00,133.00,360,0.00,Semiurban,N

In [343]:
test_data['Gender'] = test_data['Gender'].map({'Male': 1, 'Female': 0})
test_data['Married'] = test_data['Married'].map({'Yes': 1,'No' : 0})
test_data['Education'] = test_data['Education'].map({'Graduate' : 1, 'Not Graduate' : 0})
test_data['Self_Employed'] = test_data['Self_Employed'].map({'Yes' : 1,'No' :0})
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,1,0,5720,0,110.00,360,1.00,Urban
1,LP001022,1,1,1,1,0,3076,1500,126.00,360,1.00,Urban
2,LP001031,1,1,2,1,0,5000,1800,208.00,360,1.00,Urban
3,LP001035,1,1,2,1,0,2340,2546,100.00,360,1.00,Urban
4,LP001051,1,0,0,0,0,3276,0,78.00,360,1.00,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,1,1,3,0,1,4009,1777,113.00,360,1.00,Urban
363,LP002975,1,1,0,1,0,4158,709,115.00,360,1.00,Urban
364,LP002980,1,0,0,1,0,3250,1993,126.00,360,1.00,Semiurban
365,LP002986,1,1,0,1,0,5000,2393,158.00,360,1.00,Rural
366,LP002989,1,0,0,1,1,9200,0,98.00,180,1.00,Rural

In [344]:
from sklearn.preprocessing import *
train_data['Loan_ID'] = train_data['Loan_ID'].str.replace('LP00', '')
test_data['Loan_ID'] = test_data['Loan_ID'].str.replace('LP00', '')
scaler = StandardScaler()
train_data['Loan_ID'] = scaler.fit_transform(train_data['Loan_ID'].values.reshape(-1, 1))
test_data['Loan_ID'] = scaler.transform(test_data['Loan_ID'].values.reshape(-1, 1))

In [345]:
property_area = pd.get_dummies(train_data['Property_Area'], prefix='Property_Area')
train_data = pd.concat([train_data, property_area], axis = 1)
train_data = train_data.drop('Property_Area', axis = 1)
property_area = pd.get_dummies(test_data['Property_Area'], prefix='Property_Area')
test_data = pd.concat([test_data, property_area], axis = 1)
test_data = test_data.drop('Property_Area', axis = 1)

In [346]:
numerical_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']
for col in numerical_cols:
    train_data[col] = scaler.fit_transform(train_data[col].values.reshape(-1, 1))
    test_data[col] = scaler.transform(test_data[col].values.reshape(-1, 1))

In [347]:
train=train_data
test=test_data
from sklearn.model_selection import *
X = train_data.drop('Loan_Status', axis = 1)
y = train_data['Loan_Status']
X_test = test_data
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [348]:
from sklearn.linear_model import *
Model = LogisticRegression(max_iter=300, penalty='l1', solver='liblinear')
Model.fit(X_train, y_train)
prediction = Model.predict(X_val)
pred = Model.predict(X_test)
pred

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [349]:
df = pd.DataFrame(pred, columns=['Loan_Status'])
df2=pd.concat([X_id,df],axis=1)
df2.to_csv('/content/drive/My Drive/ml_loanda/submission.csv', index=False)

## Testig other optimal models :

In [350]:
pip install lazypredict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lazypredict in /usr/local/lib/python3.10/dist-packages (0.2.12)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from lazypredict) (8.1.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.5.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from lazypredict) (4.65.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.2.0)
Requirement already satisfied: lightgbm in /usr/local/lib/python3.10/dist-packages (from lazypredict) (3.3.5)
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.7.5)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm->lazypredict) (0.40.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from lightgbm->lazypredict) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm->lazypredict) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->lazypredict) (3.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->lazypredict) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.16.0)

In [351]:
from lazypredict.Supervised import LazyClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [352]:
lazy = LazyClassifier()
model, pred = lazy.fit(X_train, X_val, y_train, y_val)

100%|██████████| 29/29 [00:00<00:00, 30.76it/s]

In [353]:
model.sort_values('Accuracy', ascending = False)

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
ExtraTreesClassifier,0.79,0.73,None,0.78,0.13
CalibratedClassifierCV,0.78,0.70,None,0.76,0.10
NuSVC,0.78,0.70,None,0.75,0.02
SVC,0.78,0.70,None,0.75,0.02
BernoulliNB,0.78,0.70,None,0.76,0.01
RidgeClassifier,0.78,0.70,None,0.76,0.01
QuadraticDiscriminantAnalysis,0.78,0.72,None,0.77,0.01
RidgeClassifierCV,0.78,0.70,None,0.76,0.01
LinearDiscriminantAnalysis,0.78,0.70,None,0.76,0.02
LogisticRegression,0.78,0.70,None,0.76,0.02
LinearSVC,0.78,0.70,None,0.76,0.05
GaussianNB,0.78,0.70,None,0.76,0.01
RandomForestClassifier,0.78,0.71,None,0.76,0.15
NearestCentroid,0.77,0.71,None,0.76,0.01
AdaBoostClassifier,0.77,0.71,None,0.76,0.10
LGBMClassifier,0.76,0.70,None,0.75,0.04
LabelSpreading,0.76,0.71,None,0.75,0.03
BaggingClassifier,0.76,0.71,None,0.75,0.04
LabelPropagation,0.75,0.70,None,0.74,0.02
KNeighborsClassifier,0.75,0.68,None,0.73,0.02
ExtraTreeClassifier,0.72,0.67,None,0.71,0.01
DecisionTreeClassifier,0.71,0.66,None,0.70,0.01
SGDClassifier,0.68,0.64,None,0.67,0.01
DummyClassifier,0.65,0.50,None,0.51,0.01
Perceptron,0.64,0.65,None,0.65,0.01
PassiveAggressiveClassifier,0.64,0.64,None,0.65,0.01

In [354]:

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train = train.drop('Loan_Status', axis=1)
y_train = train['Loan_Status']
#X_test = test.drop('Loan_Status', axis=1)
#y_test = test['Loan_Status']
model = ExtraTreesClassifier()
model.fit(X_train, y_train)

ExtraTreesClassifier()

In [355]:
y_pred = model.predict(X_test)
y_pred

array(['Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [356]:
df = pd.DataFrame(y_pred, columns=['Loan_Status'])
df2=pd.concat([X_id,df],axis=1)
df2.to_csv('/content/drive/My Drive/ml_loanda/submission_test.csv', index=False)